{% block header %}
    <div class="pull-right">
        <div id="switcher-language">{{ locale_switcher(null, null, 'AppBundle:Admin:switcher_links.html.twig') }}</div>
        <div>
            {% block auth_block %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <a href="{{ path('sonata_user_profile_show') }}">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    </a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            {% endblock %}
        </div>

    </div>
    <h2><a href="/">Sonata CMF</a></h2>
{% endblock %}
