{#{{ sonata_page_render_container('header', 'global') }}#}
{% block header %}
    <div class="pull-right">
        {% block auth_block %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <a href="{{ path('sonata_user_profile_show') }}">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                </a>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        {% endblock %}
    </div>
    <h2><a href="/">Sonata CMF</a></h2>
{% endblock %}


