{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    <div class="container">
        <div class="content">
            <div class="row page-header">
                {{ sonata_page_render_container('header', 'global')}}
                {#{% block header %}#}
                    {#<div class="pull-right">#}
                            {#{% block auth_block %}#}
                                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                    {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                                    {#<a href="{{ path('fos_user_security_logout') }}">#}
                                            {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                                    {#</a>#}
                                {#{% else %}#}
                                    {#<a href="{{ path('fos_user_security_login') }}">#}
                                            {#{{ 'layout.login'|trans({}, 'FOSUserBundle') }}#}
                                    {#</a>#}
                                {#{% endif %}#}
                            {#{% endblock %}#}
                    {#</div>#}
                    {#<h2><a href="/">Sonata Demo</a></h2>#}
                {#{% endblock %}#}
            </div>
            {% block sonata_page_breadcrumb %}
                <div class="row">
                    {% if sonata_seo_context is not defined %}
                        {% set sonata_seo_context = 'homepage' %}
                    {% endif %}
                </div>
            {% endblock %}

            {% if page is defined %}
                <div class="row">
                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_top', 'global') }}
                    {% endif %}
                    {{ sonata_page_render_container('content_top', page) }}
                </div>
            {% endif %}

            <div class="row">
                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>

            {% if page is defined %}
                <div class="row">
                    {{ sonata_page_render_container('content_bottom', page) }}

                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_bottom', 'global') }}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <footer class="row">
            {{ sonata_page_render_container('footer', 'global') }}
            {{ sonata_page_render_container('footer_left', 'global') }}
        </footer>
    </div>
{% endblock %}
